#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #0A65CC; 
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: none;
}
